body {
  margin: 0;
  font-family:'Lato', sans-serif;;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, .Changaone {font-family: 'Changa One', cursive;}

code {
  font-family:'Lato', sans-serif;
}

* {padding:0; margin:0}

li {list-style:none;}
a {text-decoration:none}
p {color:#514b49}

.flex {display: flex; flex-direction: row; flex-wrap:wrap}
.center {display:flex; flex-direction: row; align-items: center; justify-content: center;}
.container {width:1280px; margin:0 auto}
.borderbox {box-sizing: border-box}

.azul {color:#00a5e7}
.azul-bg {background:#00a5e7}
.gris {color:#7c7c7c}
.gris-bg {background:#7c7c7c}
.naranja {color:#f37021}
.naranja-bg {background:#f37021}
