* {padding:0; margin:0; box-sizing: border-box;}
body, input, textarea {margin: 0; font-family:'Lato', sans-serif; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;}
container, .container {display:flex; flex-wrap:wrap; width:1280px; margin:0 auto}
.center {display:flex; flex-direction: row; align-items: center; justify-content: center}

h1, h2, h3, h4, .Changaone {font-family: 'Changa One', cursive; font-weight:500}
h1 {font-size:2.5em; text-align: center}
h2 {font-size:2.2em}
h3 {font-size:1.8em}
h4 {font-size:1.7em}
p, li {font-weight:300}
li {list-style:none}
a {text-decoration:none}
code {font-family:'Lato', sans-serif}
